<header>
    <div class="container--full-width container--flex">
        <div class="logo">
            <a href="/">
                <h1>{{ site.title }}</h1>
                <span>{{ site.subtitle }}</span>
            </a>
        </div>

        <nav>
            <ul class="nav">
                <li><i class="fad fa-user-astronaut"></i><a href="/">About</a></li>
                <li><i class="fad fa-planet-ringed"></i><a href="/teaching">Teaching</i></a></li>
                <li><i class="fad fa-alien-monster"></i><a href="/theses">Thesis Topics</i></a></li>
            </ul>
        </nav>
    </div>
</header>