---
---

html {
    font-size: 16px;
}

.main {
    background-color: white;
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center top;
}

nav {
    width: 100%;
}

blockquote {
    background-color: #f6f8fa;
    padding: 15px 20px;
    margin: 25px 0px;
    border-left: 7px solid #eee;

    h1 {
	    margin-top: 5px;
	    margin-bottom: 5px;
	    text-transform: uppercase;
	    font-size: 1.3rem;
	    color: #848484;
    }
}

figure {
    margin-top: 15px;
}

.highlighter-rouge {
	margin: 10px 5px;
}

pre {
	margin-bottom: 0;
}

h1 {
    font-size: 1.6rem;
    margin-top: 40px;
    margin-bottom: 20px;
    // text-transform: uppercase;
}

h3 {
    font-size: .9rem;
    text-transform: uppercase;
    color: #A7A7A7;
    margin-top: 40px;
}

h2 {
    font-size: 1.2rem;
    margin-top: 40px;
}

ul {
    padding-left: 0;
    list-style-type: none;

    li {
        margin-bottom: 10px;
        // margin-left: -20px;
        border-left: 7px solid #eee;
        padding-left: 13px;
        line-height: 1.3rem;
    }

    // li:nth-child(even) {
    //     border-left: 7px solid #CACACA !important;
    // }
}

a {
    color: #3D89E2;
}

p {
    margin-bottom: 10px !important;
}

td {
    padding-right: 2rem;
}

.subhead {
    font-size: .9rem;
}

.year {
    color: gray;
    font-size: 0.9rem;
}

.site-header {
    margin-top: 80px;
    margin-bottom: 10px;

    h1 {
        font-size: 1.8rem;
        margin-bottom: 0;
    }
}

.site-footer {
    margin-top: 80px;
    margin-bottom: 60px;
}

.showcase {
    width: 50%;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .main {
        background-image: url('/assets/images/background@2x.png');
        background-size: 898px 241px;
    }
}
