<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>

    {% include header_small.html %}
    <main class="container">
{% include nav.html %}
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>{{page.title}}</h1>
            <p><b>Přednášející:</b> {{page.lector}}</p>
            <p><b>Stránka předmětu:</b> <a href="{{page.course_page}}">{{page.course_page}}</a></p>
            <h2>Seznam cvičení</h2>
            {% capture type %}{{ page.course }}{% endcapture %}
            <ul>
            {% for page in site.pages %}
              {% if page.courses contains type %}
                  <li>
                    <a href="{{page.url}}">{{page.title}}</a>
                  </li>
              {% endif %}
            {% endfor %}
        </ul>
            {{ content }}</div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
