<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
{% include header.html %}

<body>
    <main>
        <div class="container--full-width">
            {% if page.alert_covid %}
            <div class="alert orange">
                <div>
                    <i class="fad fa-virus fa-swap-opacity"></i> {{ page.alert_covid }}</div>
            </div>
            {% endif %}
            {% if page.alert %}
            <div class="alert blue">
                <div>
                    <i class="fad fa-megaphone"></i> {{ page.alert }}</div>
            </div>
            {% endif %}
            {{ content }}
        </div>
    </main>
</body>

{% include footer.html %}

</html>