<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body class="main">

  {% include header.html %}
  <main class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Teaching</h1>
        {{ content }}
        <h2>2019/2020</h2>
        <h3>Zimní semestr</h3>
        <ul>
          {% for page in site.pages %}
          {% if page.types contains 'course' and page.types contains 'winter' and page.year == 2020 %}
          <li>
            <a href="{{page.url}}">{{page.title}}</a>
          </li>
          {% endif %}
          {% endfor %}
          <h3>Letní semestr</h3>
          <ul>
            {% for page in site.pages %}
            {% if page.types contains 'course' and page.types contains 'summer' and page.year == 2020 %}
            <li>
              <a href="{{page.url}}">{{page.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <h2>2018/2019</h2>
          <h3>Zimní semestr</h3>
          <ul>
            {% for page in site.pages %}
            {% if page.types contains 'course' and page.types contains 'winter' and page.year == 2019 %}
            <li>
              <a href="{{page.url}}">{{page.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
            <h3>Letní semestr</h3>
            <ul>
              {% for page in site.pages %}
              {% if page.types contains 'course' and page.types contains 'summer' and page.year == 2019 %}
              <li>
                <a href="{{page.url}}">{{page.title}}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
      </div>
    </div>
  </main>

  {% include footer.html %}

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
    integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
    crossorigin="anonymous"></script>
</body>

</html>